<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.teamphoenix.ahub.news.query.repository.NewsMapper">

    <resultMap id="selectNewsList" type="com.teamphoenix.ahub.news.query.dto.NewsDTO">
        <id property="newsId" column="news_id"/>
        <result property="newsTitle" column="news_title"/>
        <result property="newsWritedate" column="news_writedate"/>
        <result property="useAcceptance" column="use_acceptance"/>
        <result property="memberCode" column="member_code"/>
    </resultMap>
    <resultMap id="getOrdinaryView" type="com.teamphoenix.ahub.news.query.dto.NewsDTO" extends="selectNewsList">
        <result property="newsContent" column="news_content"/>
    </resultMap>

    <select id="getNewsPost" parameterType="_int" resultMap="getOrdinaryView">
        SELECT
               N.news_id
             , N.news_title
             , N.news_content
             , N.news_writedate
             , N.use_acceptance
             , N.member_code
          FROM News N
         WHERE N.news_id = #{newsId}
    </select>

    <select id="selectPostsByCondition" parameterType="com.teamphoenix.ahub.news.query.dto.NewsDTO" resultMap="selectNewsList">
        SELECT
               N.news_id
             , N.news_title
             , N.news_writedate
             , N.use_acceptance
             , N.member_code
          FROM News N
        <where>
            <if test="newsTitle neq null and newsContent eq null">
                N.news_title LIKE CONCAT ('%', #{newsTitle}, '%')
            </if>
            <if test="newsContent neq null and newsTitle eq null">
                N.news_content LIKE CONCAT('%', #{newsContent}, '%')
            </if>
            <if test="newsTitle neq null and newsContent neq null">
                N.news_title LIKE CONCAT('%', #{newsTitle}, '%')
                AND N.news_content LIKE CONCAT('%', #{newsContent}, '%')
            </if>
            <if test="memberCode neq 0">
                N.member_code = #{memberCode}
            </if>
        </where>
    </select>
</mapper>